<app-template></app-template>

<!-- <section>
  <form [formGroup]="creativeForm">
    <div class="configurations">
      <div class="primary-configuration">
        <div class="input-group">
          <input class="custom-form-control" formControlName="backgroundImage" />
          <span>or</span>
          <div>
            <input type="file" id="background" accept=".png,.jpg,.webp" style="display: none"
              (change)="patchImage($event, Upload.BACKGROUND)" />
            <label for="background">Upload</label>
          </div>
        </div>

        <input class="custom-form-control" formControlName="heading" />
        <div class="input-group">
          <input class="custom-form-control" formControlName="brandLogo" />
          <span>or</span>
          <div>
            <input type="file" id="brandlogo" accept=".png,.jpg,.webp" style="display: none"
              (change)="patchImage($event, Upload.BRANDLOGO)" />
            <label for="brandlogo">Upload</label>
          </div>
        </div>

        <input class="custom-form-control" formControlName="buttonText" />
      </div>
      <div formArrayName="productList">
        <div *ngFor="let product of productList.controls; let i = index">
          <div class="secondary-configuration" [formGroupName]="i">
            <input class="custom-form-control" formControlName="productTitle" />
            <div class="input-group">
              <input class="custom-form-control" formControlName="productImage" />
              <span>or</span>
              <div [formGroup]="creativeForm">
                <div>
                  <input type="file" [id]="'productimage' + i" accept=".png,.jpg,.webp" style="display: none"
                    (change)="patchImage($event, 'product_img_' + i)" />
                  <label [for]="'productimage' + i">Upload</label>
                </div>
              </div>
            </div>
            <input class="custom-form-control" formControlName="productPrice" />
            <input class="custom-form-control" formControlName="productDiscountedPrice" />
            <input class="custom-form-control" formControlName="productDiscountBadge" />

          </div>
        </div>
      </div>

      <div class="capture-btn-container">
        <button class="capture-btn" (click)="capture()">
          Generate Creative
        </button>
        <button class="download-btn" (click)="downloadImage()" *ngIf="capturedImage">
          Download Creative
        </button>
      </div>
    </div>

    <div id="capture">
      <div #htmlContainer></div>
    </div>
  </form>

  <ng-container *ngIf="capturedImage">
    <p>Captured Image:</p>
    <div class="captured-image-container">
      <img class="captured-image" [src]="capturedImage" />
    </div>
  </ng-container>
</section> -->