<select (change)="changeBanner($event)">
    <option *ngFor="let banner of banners">
        {{ banner }}
    </option>
</select>

<ng-container [ngSwitch]="viewBanner">
    <ng-container *ngSwitchCase="'banner-1'">
        <!-- desktop -->





        <!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banners</title>
    <style> -->

        <!-- /* </style> */ -->
        <!-- </head> -->

        <!-- <body> -->
        <section class="banner-1 desktop-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/deeb762f078f4aa28253c2d200a4b078-other-other.png" />

            <div class="banner-name">
                <h1 id="template-heading">NEW ARRIVAL</h1>
            </div>

            <div class="content-container">
                <div class="left-section">
                    <img id="template-product-image-1" class="banner-image"
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/75d8dc05714a4814884ce36ab034e356-other-other.png" />
                </div>
                <div class="right-section">
                    <img class="company-logo" id="template-brand-logo"
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/others/files/4b233b3a832e470a92ac8ea27d5d2a05-product-other.png" />
                    <h1 id="template-product-title-1" class="product-name">
                        5.5 INCH PORTABLE HD MONITOR DC-550 PRO
                    </h1>
                    <div class="product-cost">
                        <span class="discounted-price" id="product-discounted-price-1">$18,890</span>
                        <span id="product-price-1" class="actual-price">$19,900</span>
                    </div>
                    <button id="template-button-text" class="shop-btn">SHOP NOW</button>

                    <div class="discount-offer" id="discount-badge-1">15% OFF</div>
                </div>
            </div>
        </section>
        <!-- </body>

</html> -->




        <!-- mobile -->


        <!-- <!DOCTYPE html>
        <html lang="en">
        
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Banne-1-mobile</title>
            <style> -->

        <!-- /* </style> -->
        <!-- </head> */ -->

        <!-- <body> -->
        <!-- mobile -->
        <section class="banner-1 mobile-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://dev-hyper-media.s3.ap-south-1.amazonaws.com/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/01ddae3fb517492698cb7727963370a6-other-other.jpeg" />

            <div class="banner-name">
                <h1 id="template-heading">NEW ARRIVAL</h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/e29d59d7353f4d3290b25bbb083a4d23-other-other.png" />
                <h1 id="template-product-title-1" class="product-name">
                    5.5 INCH PORTABLE HD MONITOR DC-550 PRO
                </h1>
                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$18,890</span>
                    <span id="product-price-1" class="actual-price">$18,890</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>

                <div class="banner-image">
                    <img id="template-product-image-1"
                        src="https://dev-hyper-media.s3.ap-south-1.amazonaws.com/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/0121399eda3a4f6da09b6dbc7904c481-other-other.png" />
                </div>
            </div>

            <div id="discount-badge-1" class="discount-offer">13% OFF</div>
        </section>
        <!-- </body>
        
        </html> -->





    </ng-container>

    <ng-container *ngSwitchCase="'banner-2'">
        <!-- desktop -->
        <!-- <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Banner</title>
        <style> -->
        <!--           
        /* </style>
    </head>
    
    <body> */ -->
        <section class="banner-2 desktop-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/305fb326797c4a4f91824eda9cf65ae9-product-assets.png" />

            <div class="banner-name">
                <h1 id="template-heading">
                    New Arrival
                    <img
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/14c31b56ff4d43429e8503edeb2d5c97-other-other.png" />
                </h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/aae21c06167044719a52fd0c553adfd2-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    FX3 Full-Frame Cinema Camera
                </h1>
                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$3,68,000</span>
                    <span id="product-price-1" class="actual-price">$3,99,990</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div class="banner-image">
                <img id="template-product-image-1"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/04ad2ef6dd0349dc867b40425aeec458-product-assets.png" />
            </div>

            <div id="discount-badge-1" class="discount-offer">
                8% <br />
                OFF
            </div>
        </section>
        <!-- </body>
    
    </html> -->

        <!-- mobile -->




        <!-- <!DOCTYPE html>
        <html lang="en">
        
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Banne-1-mobile</title>
            <style> -->
        <!--              
            /* </style>
        </head>
        
        <body> */ -->
        <section class="banner-2 mobile-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/8c803dface5648b585507b21b7cdfbc8-product-assets.png" />

            <div class="banner-name">
                <h1 id="template-heading">
                    NEW ARRIVAL
                    <img
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/others/others/files/14c31b56ff4d43429e8503edeb2d5c97-other-other.png" />
                </h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/aae21c06167044719a52fd0c553adfd2-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    FX3 Full-Frame Cinema Camera
                </h1>

                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$3,68,000</span>
                    <span id="product-price-1" class="actual-price">$3,99,990</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div class="banner-image">
                <img id="template-product-image-1"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/04ad2ef6dd0349dc867b40425aeec458-product-assets.png" />
            </div>

            <div id="discount-badge-1" class="discount-offer">8% OFF</div>
        </section>
        <!-- </body>
        
        </html> -->

    </ng-container>

    <ng-container *ngSwitchCase="'banner-3'">
        <!-- desktop -->
        <!-- <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Banner</title>
            <style>

            </style>
        </head>

        <body> -->
        <section class="banner-3 desktop-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/199b747cd67e4e37899c7be351be4f28-product-assets.png" />

            <div class="banner-name">
                <h1 id="template-heading">NOW AVAILABLE</h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/eaeb68bb29ed42adabe973726dde3da3-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    FIXED BODY W/TWIST 60MM OPTIC
                </h1>
                <div class="sub-brand">
                    <p>FOR NIKON F & FOR SONY E</p>
                </div>
                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$31,705</span>
                    <span id="product-price-1" class="actual-price">$37,330</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div class="banner-image">
                <img id="template-product-image-1"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/7690ef107652461f82754e05f224e667-product-assets.png" />
            </div>

            <div id="discount-badge-1" class="discount-offer">
                8% <br />
                OFF
            </div>
        </section>
        <!-- </body>
    
    </html> -->
        <!-- mobile -->
        <!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banner</title>
    <style>
       
    </style>
</head>

<body> -->
        <section class="banner-3 mobile-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/8950b14793944e0e88d81ae705893c17-product-assets.png" />

            <div class="banner-name">
                <h1 id="template-heading">NOW AVAILABLE</h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/eaeb68bb29ed42adabe973726dde3da3-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    FIXED BODY W/TWIST 60MM OPTIC
                </h1>
                <div class="sub-brand">
                    <p>FOR NIKON F & FOR SONY E</p>
                </div>

                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$31,705</span>
                    <span id="product-price-1" class="actual-price">$37,330</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div class="banner-image">
                <img id="template-product-image-1"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/7690ef107652461f82754e05f224e667-product-assets.png" />

                <div id="discount-badge-1" class="discount-offer">
                    8% <br />
                    OFF
                </div>
            </div>
        </section>
        <!-- </body>

</html> -->
    </ng-container>

    <ng-container *ngSwitchCase="'banner-4'">
        <!-- desktop -->
        <!-- <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Banner</title>
        <style>
           
        </style>
    </head>
    
    <body> -->
        <section class="banner-4 desktop-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/c3f447fb8c9645c993966ba9ce313290-product-assets.png" />

            <div class="banner-name-container">
                <div class="banner-name">
                    <h1 id="template-heading">NOW AVAILABLE</h1>
                </div>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/373fcdf96c444f0bb1ba127312752f0d-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    DUAL CHANNEL WIRELESS MICROPHONE PF55
                </h1>

                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$8,599</span>
                    <span id="product-price-1" class="actual-price">$9,999</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div id="template-product-image-1" class="banner-image">
                <img
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/e964b8d3ad294e6583dbe9bc4511c3f9-product-assets.png" />
                <img
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/1108531c457a4ad3ac4e2cf187e9438f-product-assets.png" />
            </div>

            <div id="discount-badge-1" class="discount-offer">8% OFF</div>
        </section>
        <!-- </body>

        </html> -->
        <!-- mobile -->

        <!-- <!DOCTYPE html>
        <html lang="en">
        
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Banner</title>
            <style>
            
            </style>
        </head>
        
        <body> -->
        <section class="banner-4 mobile-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/3d0c82d9e3e146788e3ab9e2082ea72c-product-assets.png" />
            <div class="banner-name">
                <h1 id="template-heading">NOW AVAILABLE</h1>
            </div>

            <div class="content-container">
                <img class="company-logo" id="template-brand-logo"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/373fcdf96c444f0bb1ba127312752f0d-product-assets.png" />
                <h1 id="template-product-title-1" class="product-name">
                    DUAL CHANNEL WIRELESS MICROPHONE PF55
                </h1>

                <div class="product-cost">
                    <span id="product-discounted-price-1" class="discounted-price">$8,599</span>
                    <span id="product-price-1" class="actual-price">$9,999</span>
                </div>
                <button id="template-button-text" class="shop-btn">SHOP NOW</button>
            </div>

            <div class="banner-image">
                <img id="template-product-image-1"
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/e964b8d3ad294e6583dbe9bc4511c3f9-product-assets.png" />
                <img
                    src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/1108531c457a4ad3ac4e2cf187e9438f-product-assets.png" />

                <div id="discount-badge-1" class="discount-offer">
                    8% <br />
                    OFF
                </div>
            </div>
        </section>
        <!-- </body>
        
        </html> -->

    </ng-container>

    <ng-container *ngSwitchCase="'banner-5'">
        <!-- desktop -->
        <!-- <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Banner</title>
        <style>
            
        </style>
    </head>
    
    <body> -->
        <section class="banner-5 desktop-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/674d59b0d2814fe9a1bd4f9f9d28fdc3-product-assets.png" />
            <div class="banner-name">
                <h1 id="template-heading">EXCLUSIVE DEAL</h1>
            </div>

            <div class="content-product-container">
                <div class="content-container">
                    <img class="company-logo" id="template-brand-logo"
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/e5f7a012a1da40f89ac27c5ccfa56f24-product-assets.png" />
                    <h1 id="template-product-title-1" class="product-name">
                        f/1.4 DG DN Art Lens for Sony E
                    </h1>

                    <div id="discount-badge-1" class="discount-offer">26% OFF</div>

                    <button id="template-button-text" class="shop-btn">SHOP NOW</button>
                </div>

                <div id="template-product-image-1" class="banner-image">
                    <div class="banner-image-1">
                        <img
                            src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/b3d5c645cc734c46a4c2ed5eaf4824b5-product-assets.png" />
                        <div class="product-cost">
                            <span id="product-discounted-price-1" class="discounted-price">$8,599</span>
                            <span id="product-price-1" class="actual-price">$9,999</span>
                        </div>
                    </div>
                    <div class="banner-image-2">
                        <img id="template-product-image-1"
                            src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/8e73d86389074628b5da0b2772baac7e-product-assets.png" />
                        <div class="product-cost">
                            <span id="product-discounted-price-1" class="discounted-price">$8,599</span>
                            <span id="product-price-1" class="actual-price">$9,999</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- </body>
    
    </html> -->

        <!-- mobile -->
        <!-- <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Banner</title>
        <style>
         
        </style> -->
        <!-- </head> -->

        <!-- <body> -->
        <section class="banner-5 mobile-banner-container">
            <img id="template-background-image" class="background-image"
                src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/10a15a6dfdb14a0898bcd4d5856bdb92-product-assets.png" />

            <div class="banner-name">
                <h1 id="template-heading">EXCLUSIVE DEAL</h1>
            </div>

            <div class="content-product-container">
                <div class="content-container">
                    <img class="company-logo" id="template-brand-logo"
                        src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/e5f7a012a1da40f89ac27c5ccfa56f24-product-assets.png" />
                    <h1 id="template-product-title-1" class="product-name">
                        f/1.4 DG DN Art Lens for Sony E
                    </h1>

                    <div id="discount-badge-1" class="discount-offer">26% OFF</div>

                    <button id="template-button-text" class="shop-btn">SHOP NOW</button>
                </div>

                <div class="banner-image">
                    <div class="banner-image-1">
                        <img id="template-product-image-1"
                            src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/b3d5c645cc734c46a4c2ed5eaf4824b5-product-assets.png" />
                        <div class="product-cost">
                            <span id="product-discounted-price-1" class="discounted-price">$8,599</span>
                            <span id="product-price-1" class="actual-price">$9,999</span>
                        </div>
                    </div>

                    <div class="banner-image-2">
                        <img id="template-product-image-2"
                            src="https://s3-ap-south-1.amazonaws.com/dev-hyper-media/companies/5d1a6079-b7a5-4f3b-81e5-2330dd80cee3/products/00eef1aa-f1b5-42a0-b32a-f1d76bc79870/assetss/files/8e73d86389074628b5da0b2772baac7e-product-assets.png" />
                        <div class="product-cost">
                            <span id="product-discounted-price-1" class="discounted-price">$8,500</span>
                            <span id="product-price-1" class="actual-price">$9,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- </body>
    
    </html> -->
    </ng-container>
</ng-container>